In [21]:
import pandas as pd
from sqlalchemy import create_engine
import geopandas as gpd

### Store CSV into DataFrame

In [12]:
schools_csv = "Resources/Public_Schools.csv"
school_data_df = pd.read_csv(schools_csv)
school_data_df.head()

,X,Y,OBJECTID_1,OBJECTID,BLDG_ID,BLDG_NAME,ADDRESS,CITY,ZIPCODE,CSP_SCH_ID,...,SCH_NAME,SCH_LABEL,SCH_TYPE,SHARED,COMPLEX,Label,TLT,PL,POINT_X,POINT_Y
0,-71.004121,42.388799,1,1,1,Guild Bldg,195 Leyden Street,East Boston,2128,4061,...,Guild Elementary,Guild,ES,,,52,3,Grace,790128.152748,2.967094e+06
1,-71.030480,42.378545,2,2,3,"Kennedy, P Bldg",343 Saratoga Street,East Boston,2128,4541,...,Kennedy Patrick Elem,PJ Kennedy,ES,,,72,3,Grace,783027.745829,2.963318e+06
2,-71.033891,42.375279,3,3,4,Otis Bldg,218 Marion Street,East Boston,2128,4322,...,Otis Elementary,Otis,ES,,,106,3,Grace,782112.823908,2.962122e+06
3,-71.038011,42.378089,4,4,6,Odonnell Bldg,33 Trenton Street,East Boston,2128,4543,...,O'Donnell Elementary,O'Donnell,ES,,,103,3,Grace,780994.000003,2.963140e+06
4,-71.034921,42.380957,5,5,7,East Boston High Bldg,86 White Street,East Boston,2128,1070,...,East Boston High,East Boston HS,HS,,,36,2,Joel,781823.000004,2.964190e+06

In [18]:
# offense_code_csv = "Resources/offense_codes.csv"
# offense_codes_df = pd.read_csv(offense_code_csv)
# offense_codes_df.head()

In [25]:
schools_json = "Resources/Public_Schools.geojson"
schools_json_df = pd.read_json(schools_json)
schools_json_df.head()

                type                                           features
0  FeatureCollection  {'type': 'Feature', 'properties': {'OBJECTID_1...
1  FeatureCollection  {'type': 'Feature', 'properties': {'OBJECTID_1...
2  FeatureCollection  {'type': 'Feature', 'properties': {'OBJECTID_1...
3  FeatureCollection  {'type': 'Feature', 'properties': {'OBJECTID_1...
4  FeatureCollection  {'type': 'Feature', 'properties': {'OBJECTID_1...